<div class="bike-routes-show">
  Stations that meet your preferences near <%= @start_location.name %>:
  <%= @starting_stations.count %>
  <%= @ending_stations.count %>
  <% @starting_stations.each do |station| %>
    <div>
      <%= station.address %>
    </div>
  <% end %>
</div>

<div class="bike-routes-show">
  Stations that meet your preferences near <%= @end_location.name %>:
  <% @ending_stations.each do |station| %>
    <div>
      <%= station.address %>
    </div>
  <% end %>
</div>
