<div class="preferences">
  <%= form.label :email %>:
  <%= form.text_field :email %>
</div>

<div class="preferences">
  <%= form.label :max_distance_to_station %>:
  <%= form.text_field :max_distance_to_station %> miles
</div>

<div class="preferences">
  <%= form.label :min_bikes_at_station %>:
  <%= form.text_field :min_bikes_at_station %>
</div>

<div class="preferences">
  <%= form.label :min_free_bike_docks %>:
  <%= form.text_field :min_free_bike_docks %>
</div>
