<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :address %>
  <%= form.text_field :address %>
</div>

<div>
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>

<div>
  <%= form.label :state %>
  <%= form.text_field :state %>
</div>

<div>
  <%= form.label :zip %>
  <%= form.text_field :zip %>
</div>
